request_one_flow_in_separate_flow/src/main/mule/request_one_flow_in_separate_flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4f535769-decb-4d54-90d8-498ed8d53c73" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f1197a3d-f011-4b46-9db1-f241473edb4f" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="main_flow" doc:id="ac011f1b-c071-4be2-bfd5-f55a4ce0b1f5" >
		<http:listener doc:name="Listener" doc:id="387dc8c8-4d51-473f-a51d-55c8e5061e50" config-ref="HTTP_Listener_config" path="/main" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="6235b44f-67f3-4e80-b593-688f7f01237d" config-ref="HTTP_Request_configuration" path='#["/request?FirstName=" ++ message.attributes.queryParams.FirstName as String ++ "&amp;Age=" ++ message.attributes.queryParams.Age as String]'>
		</http:request>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="44e6d84a-cbe7-45d0-8814-eb5404dd6126" mimeType="application/json"/>
	</flow>
	<flow name="requested_flow" doc:id="317cd348-a734-4bc6-9525-db1ba9fcdec2" >
		<http:listener doc:name="Listener" doc:id="e0cbc4eb-6ec1-4956-90d1-c06443ffde5e" config-ref="HTTP_Listener_config" path="/request" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="7720ce0f-4d8e-471e-9dae-afb56e24b41a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"FirstName": message.attributes.queryParams.FirstName,
	"Age": message.attributes.queryParams.Age
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
